.login {
    background-color: blueviolet;
}

.box {
    border: solid;
    border-color: azure;
    border-radius: 5px;
}

.hr {
    background-color: blue;
    width: min-content;
}

.sidebar {
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

